
<form class="col s12">
  <div class="row">
    <div class="input-field col s4">
      <i class="material-icons prefix">mode_edit</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <label for="icon_prefix2">Name</label>
    </div>
    <div class="input-field col s4">
      <i class="material-icons prefix">mode_edit</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <label for="icon_prefix2">Description</label>
    </div>
    <div class="input-field col s4">
      <select class="browser-default">
        <option value="" disabled selected>Update Your List</option>
        <option value="1">Done</option>
        <option value="2">In-Progress</option>
      </select>
    </div>
  </div>
</form>
